
.container {
    background-color: rgba(220, 198, 241, 0.767);
    /* background-image: url(flower-bg.jpg); */
    /* opacity: 0.6; */
    margin-top: 20px;
    box-shadow: 8px 8px 10px  rgba(220, 198, 241, 0.767),
                -9px -9px 10px  rgba(220, 198, 241, 0.685);
}

.weather-temperature .temperature {
    color: rgb(33, 33, 33);
    font-size: 55px;
    font-weight: 400;
}
.description{
    margin-left: 100px;
    line-height: 0;
}
/* .weather-temperature .img {
margin-top: 0;
padding-top: 0;

} */

.day-weather{
    text-align: center;
}